
.book-card{
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
    0px 1px 1px 0px rgba(0,0,0,0.14),
    0px 1px 3px 0px rgba(0,0,0,0.12);
    margin: 20px 15px !important;
    /*border-radius: 30px 5px !important;*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(25% - 30px);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}
.book-card:hover .book-img img{
    transform:scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);;

}
.book-card:hover .book-img{
    border-radius: 5px;
}
.book-card:hover .book-title{
    color: #188480;
}

.book-img {
    padding: 0px;
    width: 180px;
    height: 180px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
    overflow: hidden;
}
.book-img img{
    max-width: 98% !important;
    max-height: 98%;
    margin: 10px auto;
    transition: all .7s ease-in;
    -webkit-transution: all .7s ease-in;
    -moz-transition: all .7s ease-in ;
    -o-transition:  all .7s ease-in;;
}
.book-infoes{
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.book-title{
    font-size: 1rem;
    color:  #e69900;
    margin: 10px 0px;
    line-height: 1.5;
    text-align: center;
    flex: 1;
}
.info-item {
    margin: 10px 0px;
    display: inline-block;
    padding-right: 0px;
    font-size: 14px;
    line-height: 2;
    text-align: justify;
    direction: rtl;
}
.info-item i{
    font-size: 10px;
    color: #188480;
    margin-left: 5px;
}
.info-item .publish-date{
    display: inline-block;
}
.info-item .info-title{
    font-size: 13px;
    color: #777;
    margin-left: 5px;
}
.info-item.authors{
    min-height: 60px;
}
@media screen and (max-width: 576px) {

    .book-card{
        flex: 0 100% !important;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {

    .book-card{
        flex: 0 49%;
        box-sizing: border-box;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .book-card{
        flex: 0 1 calc(25% - 30px);
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .book-card{
        flex: 0 1 calc(33.33% - 30px);
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .book-card{
        flex: 0 1 calc(50% - 30px);
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .book-card{
        flex: 0 1 calc(50% - 30px);
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .book-card{
        flex: 0 100% !important;
    }
}