.header-container{
    display: flex;
    flex-direction: column;
    .logo{
        height: 15vmin;
        text-align: center;
    }
    .search-title{
        display: flex;
        flex-direction: row-reverse;
        color: #fff;
        font-size: 1rem;
        align-self: flex-end;
        background-color: #188480;
        margin-bottom: 0px;
        padding-left: 10px;
        font-family: "Droid Arabic Kufi" !important;
        margin-top: -40px;
        font-weight: normal;
        position: relative; 
        &::after{
            width: 0;
            height: 0;
            border-bottom: 49px solid #188480;
            border-left: 30px solid transparent;
            left: -30px;
            top: 1px;
            content: "";
            position: absolute;
        }
        span{
            align-self: center;
        }
        .search-icon{
            width: 40px;
            margin-left: 15px;
            img{
                max-width: 100%;
            }
        }
    }
}

.search-container{
    display: flex;
    flex-direction: row;
    background-color: #188480;
    justify-content: center;
    direction: rtl;
    padding: 35px 0px;
}
.search-fields{
    flex: .6;
}
.search-form {
    transition: all 1s;
    width: 90%;
    position: relative;
    margin: 0 auto;
}
/*.search-text-field:hover{*/
    /*width: 95%;*/
/*}*/
input{
    color: #333 !important;
    border: none !important;
    outline: 0px !important;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px 10px 10px 0px;
    box-shadow: 1px 1px 2px #eee;
    width: 100%;
}
.search-container .search-icon{
    position: absolute;
    color: #333;
    cursor: pointer;
    font-weight: 600;
    left:0px;
    top: 25%;
    background: transparent;
    border:none;
    outline:0px !important;
}

.search-container .search-icon:hover{
    color: #188480;
}
@media screen and (max-width: 991px) {

   .search-title{
       margin-top:  0px !important;
   }
    .search-fields{
        flex:.9;
    }
}

