.list-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex:1;
}
.empty-list {
    flex-basis: 100%;
    text-align: center;
    margin: 50px auto;
    font-weight: 600;
    font-size: 1rem;
    animation: fadein 2s linear;
    direction: rtl;
    .empty-text{
        color: darkorange;
        padding: 25px 30px;
        border-radius: 10px;
        direction: rtl;
        background: #f7f7f7;
        box-shadow: 1px 2px 8px #ccc;
        line-height: 2;
    }
}

#search-waiting{
    text-align: center;
    flex-basis: 100%;
    margin: 60px;
}
#search-waiting img{
    width: 150px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}